{
  "settings": [
    {
      "provider": "route53",
      "domain": "example.com",
      "host": "jellyfin",
      "aws_access_key_id": "YOUR_AWS_ACCESS_KEY_ID",
      "aws_secret_access_key": "YOUR_AWS_SECRET_ACCESS_KEY",
      "zone_identifier": "YOUR_HOSTED_ZONE_ID",
      "ip_version": "ipv4",
      "ttl": 3600
    },
    {
      "provider": "route53",
      "domain": "example.com",
      "host": "jellyfin",
      "aws_access_key_id": "YOUR_AWS_ACCESS_KEY_ID",
      "aws_secret_access_key": "YOUR_AWS_SECRET_ACCESS_KEY",
      "zone_identifier": "YOUR_HOSTED_ZONE_ID",
      "ip_version": "ipv6",
      "ttl": 3600
    }
  ]
}
