{
  "settings": [
    {
      "provider": "route53",
      "domain": "${SUBDOMAIN}.${DOMAIN}",
      "access_key": "${AWS_ACCESS_KEY_ID}",
      "secret_key": "${AWS_SECRET_ACCESS_KEY}",
      "zone_id": "${HOSTED_ZONE_ID}",
      "ip_version": "ipv4 or ipv6",
      "ttl": 3600
    }
  ]
}
